.datetimeContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vh;
    height: 8vh;
    border-radius: 2.08925rem 2.08925rem 0rem 0rem;
    background-color: #FF4ADE;

    color: #FFF;
    font-family: Roboto;
    font-size: 6vmin;
    font-style: normal;
    font-weight: 600;
    line-height: 141.688%; 
    letter-spacing: 0.06881rem;
}