.ProfileInfo{
    width: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw;
    height: 100vh; */
    border-radius: 2.08925rem;
    background-color: #5746EA;
    padding: 1rem;
    gap: 1rem;
}
.leftCard{
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.logo{
    height: 40vh;
}
.rightCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* .category{
    height: 10vh;
} */